.App {
    background-color: #ffea00;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container {
    border: 1px solid black;
    margin: 3rem;
    display: flex;
    flex-direction: column;
    min-width: 40%;
    max-width: 60%;
    border-radius: 3px;
}

@media screen and (max-width: 768px) {
    .container {
        min-width: 80%;
    }
}

.titleContainer {
    background: #ffa200;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2rem;
    font-size: small;
}

.fas {
    margin: 0 .5rem;
}

textarea {
    width: 99%;
    height: 100%;
    resize: vertical;
    outline: none;
    background-color: #ffc300;
    min-height: 10rem;
}

#preview {
    padding: 1rem;
    overflow: hidden;
    background-color: #ffc300;
}

img {
    max-width: 100%;
}

table {
    border-collapse: collapse;
  }

  td,
  th {
    border: 2px solid black;
    padding-left: 5px;
    padding-right: 5px;
  }

  